<div class='home container'>
  <section class='section-one'>
    <div class='content'>
      <%= image_tag('section-logo.png') %>
      <h1>Blues Backing Tracks</h1>
      <h6>By Johnny London</h6>
      <div class='center'>
        <button>Buy Now</button>
      </div>
    </div>
  </section>
  <section class='section-two'>
    <div>
      <h1>200+ Tracks</h1>
      <h3>They are dope tracks you're going to love.</h3>
      <a href='/tracks'>Check Out The Tracks</a>
    </div>
  </section>
  <section class='section-three'>
    <div>
      <h1>Another Section</h1>
      <h3>Tagline goes here</h3>
      <a>Maybe a link?</a>
    </div>
  </section>
  <section class='section-four'>
    <div>
      <h1>The Artist</h1>
      <h3>Meet Johnny London</h3>
      <a>Read His Full Bio</a>
    </div>
  </section>
</div>